@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  
// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)

@media screen and (max-width: 1366px)  
  .top-slider__one-slider__info
    right: 10%
    p
      margin-bottom: 15px

  .about-home-product
    margin: 0px

  .tab-wrapper
     padding: 60px 60px 40px

  .search-one 
    .search-one-line-favorites 
      .favorites-icon 
        bottom: -13px
        img
          padding: 5px

  .cart-product 
    .cart-product__one 
      margin: 0px
      margin-bottom: 80px

  .personal-order-list 
    .personal-order-list-one 
      .personal-order-list-body 
        .personal-order-list-body-addres
          margin-right: 0px
          float: none

  .personal-list
    width: 100%
    margin-left: 0px
    padding-left: 0px
    text-align: left  
    margin-bottom: 0px
    margin-top: 30px             

  .payments img
    margin-right: 5px

  .discount-one-info
	  img
		  width: 100%	

  .discount-one
    a
      margin-bottom: 20px
    img
      border-right: none !important

  .blog-one 
    a
      margin-bottom: 20px
    img
      border-right: none !important	

  .card 
    .card-body 
      .car-body-product 
        .car-body-product-name
          font-size: 14px		  

  .personal-info-discount a:last-child
    margin-top: 20px  

  .certificates-types
    padding: 0px

  .button-open-black
    padding: 10px 30px

  .advantages
    margin: 60px 50px 40px

  .slider-nav 
    img
      max-width: 80px  

  .payment-types-name-payment:nth-child(1)
    margin-top: 90px            

@media screen and (max-width: 480px)
  .tabs
    display: none
  .tab_drawer_heading
    background-color: #ccc
    color: #fff
    border-top: 1px solid #333
    margin: 0
    padding: 5px 20px
    display: block
    cursor: pointer
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
  .d_active
    background-color: #666
    color: #fff  
